body {
  background-color: #FFFFFF;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  height: 120px;
  width: 240px;
  background-size: cover;
  float: left;
  display: block;
}

li {
  float: right;
  border-right: 1px solid #E8E8E8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

a:link,a:visited {
  display:block;
  color: #33BA31;
  background-color: #FFFFFF;
  padding-bottom: 45px;
  padding-top: 45px;
  width: 155px;
  text-decoration: none;
  text-align: center;
  font-family: "Nunito" , sans-serif;
  font-size: 30px;
}

a:hover,a:active {
  background-color: #E5E7E9;
  color:	#2E7E21;
  border-bottom: -3px solid	#2E7E21;
}

#HELP:hover, #HELP:active {
  background-color: #FFFFFF;
}

#nav {
  border-bottom: 1px solid #E8E8E8;
}

#Burger2 {
  float: left;
  height: 618px;
  width: 1280px;
  background-size: cover;
  display: block;
  margin-top: -45px;
}

h1 {
  font-family: "Nunito" , sans-serif;
  color: #33BA31;
  text-align: center;
  display: block;
}

#social_tag {
  height: 100px;
  width: 100px;
}

#social_table {
  width: 1270px;
}

#nav {
  display: block;
}

#English {
  width: 127.5px;
  height: 70px;
  border: 1px solid #359FF3;;
  background-color: #359FF3;
  margin-left: 20px;
}

#Meow {
  font-family: "Nunito" , sans-serif;
  color: #FFFFFF;
  margin-top: 23px;
  font-size: 20px;
}
