#logo {
  height: 120px;
  width: 240px;
  background-size: cover;
  float: left;
  display: block;
}

li {
  float: right;
  border-right: 1px solid #E8E8E8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

a:link,a:visited {
  display:block;
  color: #33BA31;
  background-color: #FFFFFF;
  padding-bottom: 45px;
  padding-top: 45px;
  width: 155px;
  text-decoration: none;
  text-align: center;
  font-family: "Nunito" , sans-serif;
  font-size: 30px;
}

a:hover,a:active {
  background-color: #E5E7E9;
  color:	#2E7E21;
  border-bottom: -3px solid	#2E7E21;
}

#HELP:hover, #HELP:active {
  background-color: #FFFFFF;
}

#nav {
  border-bottom: 1px solid #E8E8E8;
}

body {
  background-color: #FFFFFF;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

#header {
  text-align: center;
  font-family: "Nunito" , sans-serif;
  color: #33BA31;
  display: block;
}

#text {
  font-family: "Nunito" , sans-serif;
  color: #33BA31;
  margin-top: 30px;
}

#p {
  text-align: center;
}

#map {
  height: 800px;
  width: 800px;
  background-color: #634C37;
  border: 10px solid #3B281A;
}

#title {
  font-size: 30px;
  font-family: "Nunito" , sans-serif;
  color: #FFFFFF;
  text-decoration: underline;
}

#o {
  font-family: "Nunito" , sans-serif;
  color: #FFFFFF;
}

#Delivery {
  margin-top: 50px;
  background-color: #359FF3;
  color: #FFFFFF;
}
