body {
  background-color: #FFFFFF;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  border-bottom: auto;
}

#logo {
  height: 120px;
  width: 240px;
  background-size: cover;
  float: left;
  display: block;
}

li {
  float: right;
  border-right: 1px solid  #E8E8E8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

a:link,a:visited {
  display:block;
  color: #33BA31;
  background-color: #FFFFFF;
  padding-bottom: 45px;
  padding-top: 45px;
  width: 155px;
  text-decoration: none;
  text-align: center;
  font-family: "Nunito" , sans-serif;
  font-size: 30px;
}

a:hover,a:active {
  background-color: #E5E7E9;
  color:	#2E7E21;
  border-bottom: -3px solid	#2E7E21;
}

#HELP:hover, #HELP:active {
  background-color: #FFFFFF;
}

#nav {
  border-bottom: 1px solid #E8E8E8;
}

h1 {
  color: #33BA31;
  font-family: "Nunito" ,sans-serif;
  float: left;
}

.comments {
  color: #33BA31;
  font-family: "Nunito" ,sans-serif;
  float: left;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#footer {
  height: 320px;
  width: 100%;
  background-color: #359FF3;
  font-family: "Nunito" ,sans-serif;
  color: #FFFFFF;
  margin-top: 1150px;
}

#bee {
  color: #FFFFFF;
  font-family: "Nunito" ,sans-serif;
  float: left
}

textarea {
  float: left;
  height: 100px;
  width:  100%;
  border: 3px solid lightseagreen;
  margin-top: 30px;
}

#send {
  width: 127.5px;
  height: 0px;
  float: right;
  text-align: center;
  font-family: "Nunito" ,sans-serif;
  color: #FFFFFF;
  background-color: #359FF3;
}

#message {
  margin-top: -20px;
}
